body{
  padding:20px;
}

.header img {
  float: left;
  width: 120px;
  padding-top: 8px;
}

.header .title {
  position: relative;
  top: 18px;
  left: 10px;
}

.input-date {
  height: 40px
}

.text-label{
  font-weight: 700;
}
.text-comment{
  color: #9f9f9f;
  font-size: 12px;
}


.items-table .row {
  padding-top: 5px;
  border-bottom:1px solid #ddd;
  line-height:3em;
}

.items-table .row:last-child {
  border-bottom:none;
  line-height:3em;
}

.items-table .row:nth-child(even) {
  background:#f9f9f9;
}
.items-table input {
  line-height:1.5em;
}

.items-table .md-datepicker-input-container{
  border-bottom-style: none;
}

/*.form-date{
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff
}
*/
.form-date .md-datepicker-triangle-button {
    min-height: 5px !important;
    bottom: 5.5px;
}

/*.form-date .md-datepicker-input{
  background: #fff
}*/

.header.row {
  font-weight:bold;
  border-top:1px solid #ddd;
}

input, textarea{
  border: 1px solid #FFF;
}

@media print {
    .noPrint {
        display:none;
    }
}